*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
body{
    background-color: #232323 !important;
    position: sticky;
    height: 100%;

}
.form-for-mobile{
    display: none;
}
.main-header{
    width: 100%;
    padding: 0px;
    background-color: #0000007a;
    position: sticky;
    top: 0;
    z-index: 100;
}
.main-header header{
    width: 1200px;
    margin: auto;
    padding: 10px;
}
.main-header header .icon,
.mobile-menu,
.main-header header form{
    display: none;
}
.main-header header .logo{
    width: 120px;
    height: 100px;
}
.main-header header .logo img{
    width: 100%;
    height: 100%;
}
.main-header nav{
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
    width: 100%;
    padding: 0px;
    background-color: #0000007a;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main-header nav .menu{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header nav ul{
    margin: 0;
    padding: 0;
}
.main-header nav ul li{
    display: inline-block;
}
.main-header nav ul li a{
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.main-header nav ul li a:hover{
    background-color: #e1e100;
    border-radius: 10px 0px 10px 0px;
    color: #232323;
    transition: all 0.3s;
}
.main-header nav .menu form{
    width: 300px;
    position: relative;
}
.main-header nav .menu form input{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}
.main-header nav .menu form button{
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    padding: 5px;
    width: 40px;
    background-color: #e1e100;
    border-radius: 3px;
}

.carousel{
    position: relative;
}
.main-user-login-for-desktop{
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18%;
    padding: 20PX;
    background-color: #232323cb;
}
.main-user-login-for-desktop .user-login-for-desktop{
    width: 100%;
}
.main-user-login-for-desktop .user-login-for-desktop h6{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;
    
}
.main-user-login-for-desktop .user-login-for-desktop label{
    font-size: 15px;
    padding: 5px 0px;
    font-weight: 500;
    color: #fff;
}
.main-user-login-for-desktop .user-login-for-desktop input{
    width: 100%;
    border: 2px solid #999999;
    outline: none;
    padding: 10px;
    background: none;
    font-size: 13px;
    color: #fff;
}
.main-user-login-for-desktop .user-login-for-desktop .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-user-login-for-desktop .user-login-for-desktop .button button{
    width: 45%;
    padding: 5px;
    margin: 20px 0px;
    border: none;
    outline: none;
    float: left;
    background-color: #fff;
}
.main-user-login-for-desktop .user-login-for-desktop .button button:hover,
.main-user-signup-for-desktop .user-signup-for-desktop .button button:hover{
    background-color: #009d00;
    color: #fff;
    font-weight: bold;
}
.main-user-login-for-desktop .user-login-for-desktop .button a:hover,
.main-user-signup-for-desktop .user-signup-for-desktop .button a:hover{
    background-color: #d2d200;
    font-weight: bold;
}
.main-user-login-for-desktop .user-login-for-desktop .button a{
    width: 45%;
    padding: 5px;
    margin: 20px 0px;
    border: none;
    outline: none;
    float: left;
    background-color: #fff;
    text-align: center;
    color: #232323;
}


.main-user-signup-for-desktop{
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18%;
    padding: 20PX;
    background-color: #232323cb;
    display: none;
}
.main-user-signup-for-desktop .user-signup-for-desktop{
    width: 100%;
}
.main-user-signup-for-desktop .user-signup-for-desktop h6{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;

}
.main-user-signup-for-desktop .user-signup-for-desktop label{
    font-size: 15px;
    padding: 5px 0px;
    font-weight: 500;
    color: #fff;
}
.main-user-signup-for-desktop .user-signup-for-desktop input{
    width: 100%;
    border: 2px solid #999999;
    outline: none;
    padding: 10px;
    background: none;
    font-size: 13px;
    color: #fff;
}
.main-user-signup-for-desktop .user-signup-for-desktop .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-user-signup-for-desktop .user-signup-for-desktop .button button{
    width: 45%;
    padding: 5px;
    margin: 20px 0px;
    border: none;
    outline: none;
    float: left;
}
.main-user-signup-for-desktop .user-signup-for-desktop .button a{
    width: 45%;
    padding: 5px;
    margin: 20px 0px;
    border: none;
    outline: none;
    float: left;
    background-color: #fff;
    text-align: center;
    color: #232323;
}

.trending{
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
    background-color: #0000007a;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending i{
    color: #e1e100;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.trending marquee{
    width: 1200px;
    color: #e1e100;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
}

.main-blog-1{
    width: 100%;
    padding: 0px;
    display: inline-block;
}
.main-blog-1 .blog-1{
    width: 1200px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #0000007a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-blog-1 .blog-1::after{
    display: table;
    clear: both;
    content: "";
}
.main-blog-1 .blog-1 .box{
    width: 235px;
    float: left;
    margin: 0px 25px;
    border-radius: 25px;
    padding: 10px;
    background-color: #20202042;
    box-shadow: rgba(63, 63, 63, 0.582) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.3s ease;
}
.main-blog-1 .blog-1 .box:hover{
    margin-top: -20px;
}
.main-blog-1 .blog-1 .box .images{
    width: 100%;
    height: 175px;
    overflow: hidden;
    border-radius: 25px;
}
.main-blog-1 .blog-1 .box .images img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.main-blog-1 .blog-1 .box .des{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.main-blog-1 .blog-1 .box .des h5{
    font-size: 23px;
    color: #e1e100;
    font-weight: bold;
}
.main-blog-1 .blog-1 .box .des h6{
    font-size: 16px;
    color: #e1e100;
    font-weight: bold;
}

.main-blog-2{
    width: 100%;
    padding: 0px;
    display: inline-block;
}
.main-blog-2 .blog-2{
    width: 1200px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #0000007a;
    box-shadow: rgba(63, 63, 63, 0.582) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-blog-2 .blog-2::after{
    display: table;
    content: "";
    clear: both;
}
.main-blog-2 .blog-2 .left{
    width: 700px;
    float: left;
}
.main-blog-2 .blog-2 .left .box{
    width: 330px;
    background-color: #232323;
    float: left;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.main-blog-2 .blog-2 .left .box .images{
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.main-blog-2 .blog-2 .left .box .images img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.main-blog-2 .blog-2 .left .box p{
    color: #e1e100;
    font-weight: bold;
    font-size: 20px;
}
.main-blog-2 .blog-2 .left .box .stars{
    width: 150px;
    padding: 15px 10px;
}
.main-blog-2 .blog-2 .left .box .stars i{
    color: #e1e100;
    font-size: 18px;
}
.main-blog-2 .blog-2 .left .box .play{
    border: 2px solid #e1e100;
    padding: 5px;
    border-radius: 20px;
}
.main-blog-2 .blog-2 .left .box .play a{
    color: #e1e100;
    font-size: 18px;
    border-radius: 20px;
}
.main-blog-2 .blog-2 .left .box .play:hover{
    background-color: #99994c;
}

.main-blog-2 .blog-2 .right{
    width: 400px;
    float: right;
    
}
.main-blog-2 .blog-2 .right .box{
    width: 320px;
    margin: auto;
    padding: 10px 5px;
    background-color: #232323;
    border-radius: 20px;
}
.main-blog-2 .blog-2 .right .box .images{
    width: 100%;
    height: 370px;
}
.main-blog-2 .blog-2 .right .box .images img{
    width: 100%;
    height: 100%;
}

.main-blog-3{
    width: 100%;
    padding: 0px;
    display: inline-block;
}
.main-blog-3 .blog-3{
    width: 1200px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #0000007a;
    box-shadow: rgba(63, 63, 63, 0.582) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-blog-3 .blog-3::after{
    display: table;
    content: "";
    clear: both;
}
.main-blog-3 .blog-3 .left{
    width: 450px;
    float: left;
    /* background-color: #99994c; */
}
.main-blog-3 .blog-3 .left p{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.main-blog-3 .blog-3 .left .link-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.main-blog-3 .blog-3 .left .link-download img{
    width: 200px;
    height: 100%;
    margin: 10px;
}
.main-blog-3 .blog-3 .center{
    width: 300px;
    float: left;
}
.main-blog-3 .blog-3 .center .box{
    width: 100%;
}
.main-blog-3 .blog-3 .center .box .images{
    width: 100%;
    height: 100%;
}
.main-blog-3 .blog-3 .center .box .images img{
    width: 100%;
    height: 100%;
}
.main-blog-3 .blog-3 .right{
    width: 350px;
    float: left;
}
.main-blog-3 .blog-3 .right .box{
    width: 100%;
}
.main-blog-3 .blog-3 .right .box .images{
    width: 100%;
    height: 100%;
}
.main-blog-3 .blog-3 .right .box .images img{
    width: 100%;
    height: 100%;
}

.main-footer{
    width: 100%;
    padding: 0px;
    background-color: #0000007a;
    display: inline-block;
}
.main-footer footer{
    width: 1200px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}
.main-footer footer::after{
    display: table;
    content: "";
    clear: both;
}
.main-footer footer .about-us{
    width: 900px;
    text-align: center;
    /* padding: 10px; */
    float: left;
}
.main-footer footer .about-us h6{
    color: #e1e100;
    font-size: 23px;
    font-weight: 600;
}
.main-footer footer .about-us p{
    font-size: 16px;
    color: #fff;
    padding: 10px 0px;
}
.main-footer footer .follow-us{
    width: 200px;
    text-align: center;
    float: right;
}
.main-footer footer .follow-us h6{
    color: #e1e100;
    font-size: 23px;
    font-weight: 600;
}
.main-footer footer .follow-us i{
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 100%;
    margin: 15px 5px;
}
.main-footer footer .follow-us i:hover{
    background-color: #e1e100;
    color: #232323;
}
.main-footer .copy-right{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.main-footer .copy-right p{
    color: #fff;
    font-size: 20px;
}
    
